.add-task{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.add-task input[type="search"]{
    width: 500px;
    border-radius: 5px;
    padding: 10px;
}



.todo-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  padding: 10px;
}


.chead{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.chead .task-incmp{
    background-color: #f7e373;
    padding: auto;
    font-family: 'Courier New', Courier, monospace;
    border-radius: 5px;
}

.chead .task-cmp{
    background-color: #adfa49;
    padding: auto;
    font-family: 'Courier New', Courier, monospace;
    border-radius: 5px;
}

.card-footer .btn{
  width: 45px;
  height: 40px;
  padding: 0;

}

.filter-container{
    display: flex;
    align-content: center;
    justify-content: center;
    margin: 20px 0px;  
}

.filter-group select{
    margin-left: 20px;
    border: none;
    padding: 10px;
    border-radius: 5px;
}